//Colors
$white: #fff;
$bg-light: #fafafa;
$border-light: #dbdbdb;
$border-dark: #8e8e8e;
$text-color: #0095f6;
$text-color-black: #262626;

// Fonts
$font: 'Open Sans', sans-serif;

//Borders
$separador: 1px solid $border-light;